# Created by venv; see https://docs.python.org/3/library/venv.html
# Terraform state
src/*.tfstate
src/*.tfstate.backup

# .terraform directory (provider binaries etc)
src/.terraform/

# Lock file (optional: keep ifチームで共有するなら)
src/.terraform.lock.hcl

# crash logs
crash.log

# SSH keyなどの認証ファイル（絶対NG！）
*.pem
